<a href="https://colab.research.google.com/github/wendy1305/Justificativa-de-faltas/blob/main/mba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
#importando librerias

from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
#!pip install openpyxl

In [66]:
#Cargando datos
###df=pd.read_csv("/home/HUAYAO.CSV")
#Cargando datos
df = pd.read_csv("/home/HUAYAO.CSV", encoding="latin-1", sep=";") # Try reading the file with Latin-1 encoding
df.drop(['ANO', 'MES'], axis=1, inplace=True)
print(df)

           FECHA  TMAX   TMIN  PRECIPITACION  HUMEDAD  ALTITUD      LATITUD   \
0      1/01/2009   17.7   7.1            7.5     81.0      3360  12° 2' 18''
1      2/01/2009   19.6   8.5            0.5     83.0      3360  12° 2' 18''
2      3/01/2009   20.0   9.0           23.3     68.0      3360  12° 2' 18''
3      4/01/2009   18.8   7.5            6.8     77.0      3360  12° 2' 18''
4      5/01/2009   19.1   6.8            2.6     77.0      3360  12° 2' 18''
...          ...    ...   ...            ...      ...       ...          ...
5470  27/12/2023   19.6   8.0           20.9     94.0      3360  12° 2' 18''
5471  28/12/2023   17.6   7.0            1.6     96.0      3360  12° 2' 18''
5472  29/12/2023   20.6   7.0            0.6     81.0      3360  12° 2' 18''
5473  30/12/2023   19.2   7.0           15.3     91.0      3360  12° 2' 18''
5474  31/12/2023   18.6   8.0            0.2     99.0      3360  12° 2' 18''

          LONGITUD
0     75° 20' 17''
1     75° 20' 17''
2     75° 20' 17''
3     75° 20' 17''
4     75° 20' 17''
...            ...
5470  75° 20' 17''
5471  75° 20' 17''
5472  75° 20' 17''
5473  75° 20' 17''
5474  75° 20' 17''

[5475 rows x 8 columns]

In [67]:
#cambiar el formato de fecha usando one hot que significa em transformá-las em variáveis(colunas) e binárias.
df['FECHA'] = pd.to_datetime(df['FECHA'], format='%d/%m/%Y')
df['day'] = df['FECHA'].dt.day
df['month'] = df['FECHA'].dt.month
df['year'] = df['FECHA'].dt.year

In [68]:
all_days = list(range(1, 32))  # Días del 1 al 31
all_months = list(range(1, 13))  # Meses del 1 al 12
all_years = list(range(df['year'].min(), df['year'].max() + 1))  # Años presentes en el dataset

In [69]:
encoder_day = OneHotEncoder(categories=[all_days], sparse=False, handle_unknown='ignore')
encoder_month = OneHotEncoder(categories=[all_months], sparse=False, handle_unknown='ignore')
encoder_year = OneHotEncoder(categories=[all_years], sparse=False, handle_unknown='ignore')

In [70]:
encoded_day = encoder_day.fit_transform(df[['day']])
encoded_month = encoder_month.fit_transform(df[['month']])
encoded_year = encoder_year.fit_transform(df[['year']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [71]:
encoded_day_df = pd.DataFrame(encoded_day, columns=[f'day_{int(i)}' for i in encoder_day.categories_[0]])
encoded_month_df = pd.DataFrame(encoded_month, columns=[f'month_{int(i)}' for i in encoder_month.categories_[0]])
encoded_year_df = pd.DataFrame(encoded_year, columns=[f'year_{int(i)}' for i in encoder_year.categories_[0]])

In [74]:
# Concatenar los DataFrames originales y codificados
df_encoded = pd.concat([df, encoded_day_df, encoded_month_df, encoded_year_df], axis=1)
df_encoded.drop(['FECHA', 'day', 'month', 'year'], axis=1, inplace=True)

In [94]:
print(df_encoded.columns)

Index(['TMAX ', 'TMIN', 'PRECIPITACION', 'HUMEDAD', 'ALTITUD ', 'LATITUD ',
       'LONGITUD', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5', 'day_6',
       'day_7', 'day_8', 'day_9', 'day_10', 'day_11', 'day_12', 'day_13',
       'day_14', 'day_15', 'day_16', 'day_17', 'day_18', 'day_19', 'day_20',
       'day_21', 'day_22', 'day_23', 'day_24', 'day_25', 'day_26', 'day_27',
       'day_28', 'day_29', 'day_30', 'day_31', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'year_2016', 'year_2017', 'year_2018', 'year_2019', 'year_2020',
       'year_2021', 'year_2022', 'year_2023'],
      dtype='object')

In [96]:
# Eliminar los espacios al final de los nombres de las columnas
df_encoded.columns = df_encoded.columns.str.strip()

# Ahora debería poder acceder a la columna LATITUD sin problema
print(df_encoded['LATITUD'])

0       12° 2' 18''
1       12° 2' 18''
2       12° 2' 18''
3       12° 2' 18''
4       12° 2' 18''
           ...
5470    12° 2' 18''
5471    12° 2' 18''
5472    12° 2' 18''
5473    12° 2' 18''
5474    12° 2' 18''
Name: LATITUD, Length: 5475, dtype: object

# SEPARANDO  LATITUD Y LONGITUD

In [97]:
def dms_to_dd(dms):
    # Separar grados, minutos y segundos
    parts = dms.split()
    degrees = float(parts[0][:-1])
    minutes = float(parts[1][:-1])
    seconds = float(parts[2][:-2])

    # Convertir a decimal
    dd = degrees + minutes / 60 + seconds / 3600
    return dd

In [98]:
data = {
    'LATITUD': ["12° 2' 18''"],
    'LONGITUD': ["75° 20' 17''"]
}

df = pd.DataFrame(data)

# Aplicar la función de conversión a las columnas de latitud y longitud
df_encoded['LATITUD'] = df_encoded['LATITUD'].apply(dms_to_dd)
df_encoded['LONGITUD'] = df_encoded['LONGITUD'].apply(dms_to_dd)

# Verificar los resultados
print(df_encoded.head())

   TMAX  TMIN  PRECIPITACION  HUMEDAD  ALTITUD    LATITUD   LONGITUD  day_1  \
0  17.7   7.1            7.5     81.0     3360  12.038333  75.338056    1.0
1  19.6   8.5            0.5     83.0     3360  12.038333  75.338056    0.0
2  20.0   9.0           23.3     68.0     3360  12.038333  75.338056    0.0
3  18.8   7.5            6.8     77.0     3360  12.038333  75.338056    0.0
4  19.1   6.8            2.6     77.0     3360  12.038333  75.338056    0.0

   day_2  day_3  ...  year_2014  year_2015  year_2016  year_2017  year_2018  \
0    0.0    0.0  ...        0.0        0.0        0.0        0.0        0.0
1    1.0    0.0  ...        0.0        0.0        0.0        0.0        0.0
2    0.0    1.0  ...        0.0        0.0        0.0        0.0        0.0
3    0.0    0.0  ...        0.0        0.0        0.0        0.0        0.0
4    0.0    0.0  ...        0.0        0.0        0.0        0.0        0.0

   year_2019  year_2020  year_2021  year_2022  year_2023
0        0.0        0.0        0.0        0.0        0.0
1        0.0        0.0        0.0        0.0        0.0
2        0.0        0.0        0.0        0.0        0.0
3        0.0        0.0        0.0        0.0        0.0
4        0.0        0.0        0.0        0.0        0.0

[5 rows x 65 columns]

In [101]:
#AUMENTANDO LA COLUMNA HELADA
df_encoded['HELADA'] = df_encoded['TMIN'].apply(lambda x: 1 if x <= 0 else 0)

# Verificar los resultados
print(df_encoded[['TMIN', 'HELADA']])

      TMIN  HELADA
0      7.1       0
1      8.5       0
2      9.0       0
3      7.5       0
4      6.8       0
...    ...     ...
5470   8.0       0
5471   7.0       0
5472   7.0       0
5473   7.0       0
5474   8.0       0

[5475 rows x 2 columns]

In [102]:
print(df_encoded.columns)

Index(['TMAX', 'TMIN', 'PRECIPITACION', 'HUMEDAD', 'ALTITUD', 'LATITUD',
       'LONGITUD', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5', 'day_6',
       'day_7', 'day_8', 'day_9', 'day_10', 'day_11', 'day_12', 'day_13',
       'day_14', 'day_15', 'day_16', 'day_17', 'day_18', 'day_19', 'day_20',
       'day_21', 'day_22', 'day_23', 'day_24', 'day_25', 'day_26', 'day_27',
       'day_28', 'day_29', 'day_30', 'day_31', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'year_2016', 'year_2017', 'year_2018', 'year_2019', 'year_2020',
       'year_2021', 'year_2022', 'year_2023', 'HELADA'],
      dtype='object')

MODELAGEM

In [111]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

In [112]:
# Suponiendo que 'dF_encoded' es tu DataFrame con las variables predictoras ('X') y la variable objetivo ('y')
X = df_encoded.drop(['HELADA'], axis=1)
y = df_encoded['HELADA']  # Variable objetivo binaria (1 si es un evento extremo, 0 si no lo es)
##########PREGUNTA PARA DARWIN " SI EN MI x ESTOY QUITANDO EL CONJUNTO MIS HELADAS, COMO EL MODELO VA ENTRENAR Y PREDECIR ?"

In [113]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [125]:
# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [129]:
#Extrayendo el dataset training and  test
Extract_X_train = X_train.copy()
Extract_X_test = X_test.copy()
Extract_Y_train = y_train.copy()
Extract_Y_test = y_test.copy()

In [136]:
print(Extract_Y_train.head())

73      0
420     0
2005    0
1888    0
3608    0
Name: HELADA, dtype: int64

In [137]:
print(Extract_X_test )

      TMAX  TMIN  PRECIPITACION  HUMEDAD  ALTITUD    LATITUD   LONGITUD  \
5444  19.0   9.5            4.0     99.0     3360  12.038333  75.338056
4361  23.2   5.4            0.3     60.0     3360  12.038333  75.338056
1084  18.6   7.0            6.9     65.0     3360  12.038333  75.338056
896   19.8  -0.4            0.0     56.0     3360  12.038333  75.338056
3227  22.0   2.6            0.0     53.0     3360  12.038333  75.338056
...    ...   ...            ...      ...      ...        ...        ...
2600  19.8   6.5            0.0     69.0     3360  12.038333  75.338056
3942  20.8   6.2            2.1     51.0     3360  12.038333  75.338056
3773  19.8   2.8            0.0     63.0     3360  12.038333  75.338056
4880  21.0   6.0            2.4     58.0     3360  12.038333  75.338056
4982  22.4  -2.7            0.0     60.0     3360  12.038333  75.338056

      day_1  day_2  day_3  ...  year_2014  year_2015  year_2016  year_2017  \
5444    1.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
4361    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
1084    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
896     0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
3227    0.0    0.0    0.0  ...        0.0        0.0        0.0        1.0
...     ...    ...    ...  ...        ...        ...        ...        ...
2600    0.0    0.0    0.0  ...        0.0        0.0        1.0        0.0
3942    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
3773    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
4880    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0
4982    0.0    0.0    0.0  ...        0.0        0.0        0.0        0.0

      year_2018  year_2019  year_2020  year_2021  year_2022  year_2023
5444        0.0        0.0        0.0        0.0        0.0        1.0
4361        0.0        0.0        1.0        0.0        0.0        0.0
1084        0.0        0.0        0.0        0.0        0.0        0.0
896         0.0        0.0        0.0        0.0        0.0        0.0
3227        0.0        0.0        0.0        0.0        0.0        0.0
...         ...        ...        ...        ...        ...        ...
2600        0.0        0.0        0.0        0.0        0.0        0.0
3942        0.0        1.0        0.0        0.0        0.0        0.0
3773        0.0        1.0        0.0        0.0        0.0        0.0
4880        0.0        0.0        0.0        0.0        1.0        0.0
4982        0.0        0.0        0.0        0.0        1.0        0.0

[1643 rows x 65 columns]

# Nueva sección